<!DOCTYPE html>
<html ng-app="celebrityQuizz">

  <head>
    <meta charset="utf-8" />
    <title>Quizz Célébrités</title>
    <!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- END BOOTSTRAP -->
	<script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.js" data-require="angular.js@1.5.x" data-semver="1.5.8"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/maximepvrt/angular-google-gapi/master/dist/angular-google-gapi.min.js" ></script>


    <script src="app.js"></script>
    
  </head>

  <body ng-controller="AnswerController">
  
  	{{ funiculaire }}
 
  
  
  </body>




<!--  <body ng-controller="AnswerController"> 

      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand">Celebrity Quizz !</a>
          </div>
          <div class="navbar-right">
            <a class="btn btn-default navbar-btn" ng-click="openPage('play')">Play</a>
            <a class="btn btn-default navbar-btn" ng-click="openPage('highscores')">HighScores</a>
          </div>
        </div>
      </nav>

      <div ng-show = "page == 'play'">
        <div class="row" ng-show="name == null">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Insert your name</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" ng-model="input_name">
                </div>
                <button class="btn btn-success" ng-click="name=input_name">Start playing!</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show= "name != null">

        {{ valide }}
        <p> {{ poolQuestions[iterator].q }}</p>

        <button name = "answer" value = "poolValidate.ok" ng-click="selection(1)">{{ poolQuestions[iterator].answers[0] }}</button>
        <button name = "answer" value = "poolValidate.pas_ok" ng-click="selection(2)">{{ poolQuestions[iterator].answers[1] }}</button>
        <button name = "answer" value = "poolValidate.pas_ok" ng-click="selection(3)">{{ poolQuestions[iterator].answers[2] }} </button>
        <br>
        
        <br>
      </div>
      
      <div ng-show = "page == 'endGame'">
        <p> Ton score est de : {{ current_score }}</p>
        <button name="reset" ng-click="reset()">Recommencer cette magniGique partie de l'enfer du lol</button>
        <button name="online_score" ng-click="openPage('highscores')"> Afficher les Highscores</button>
      </div>

      <div ng-show="page == 'highscores'">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="score in highscores | orderBy : '-score'">
                  <td>{{($index+1)}}</td>
                  <td>{{score.name}}</td>
                  <td>{{score.score}}</td>
                </tr>
              </tbody>
            </table>
            <h4 ng-show="highscores == null">Waiting for data...</h4>
          </div>
        </div>
      </div>

  </body> -->

</html>


