<!DOCTYPE html>
<html ng-app="celebrityQuizz">

	<head>   
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="Ngamije Emmanuel, Le Corvec Quentin, Dolez Théo, Girard Laurent">
	    
	    <title>Celebrity Quizz</title>
	    
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
	
	    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">		
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
		
	</head>

	<body ng-controller="QuizzController" class = "background">
	
		<!-- Navigation -->
	    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	        <div class="container topnav">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand topnav" href = "https://quizzcelebrity-149400.appspot.com/" ng-click = "openPageHome()" >Celebrity Quizz</a>
	                
	                <div class = "navbar-right">		              		                   
		            	<button type="button" class="btn btn-default navbar-btn" ng-click = 'openPageHighscores()'>Highscores</button>
		        	</div>
	            </div>
	
	           	<div ng-show = "user" class = "navbar-right">		              		                   
 					<img class = "img-circle" ng-src = "{{ user.picture }}" style="width:50px;">
		            <button type="button" class="btn btn-default navbar-btn" ng-click = 'logout()'>Sign out</button>
					
					<p class="navbar-text">Signed in as {{ user.name }}</p>
		        </div>
		        
	            <div ng-show = "!user">
		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav navbar-right">
		                    <li>
		            			<button type="button" class="btn btn-default navbar-btn" ng-click = 'login()'>Sign in</button>
		                    </li>
		                </ul>
		            </div>
	            </div>   
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	        
	    <div ng-show = "page == 'home' " >
		    <div class="intro-header">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="intro-message">
		                        <h1>Quizz Celebrity</h1>
		                        <h3>The hardest quizz ever </h3>
		                        <hr class="intro-divider">
		                        <ul class="list-inline intro-social-buttons">
		                            <li>
		                                <a ng-click = openPagePlay() class="btn btn-default btn-lg"><i class="glyphicon glyphicon-expand"></i> <span class="network-name">Play !</span></a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- /.container -->
		    </div>
	    </div>
	    
		<div ng-show = "page == 'play' " >
		    <div class="intro-header">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="intro-message">
		                        <h1>Quizz Celebrity</h1>
		                        <h3>Choose a theme</h3>
		                        <hr class="intro-divider">
		                        <ul class="list-inline intro-social-buttons">
		                            <li>
		                                <a href="" class="btn btn-default btn-lg" ng-click="chooseActor()"> <i class="glyphicon glyphicon-film"></i> <span class="network-name">Actor</span></a>
		                            </li>
		                            <li>
		                                <a href="" class="btn btn-default btn-lg" ng-click="chooseMusician()"><i class="glyphicon glyphicon-headphones"></i> <span class="network-name">Musicians</span></a>
		                            </li>
		                            <li>
		                                <a href="" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-question-sign"></i> <span class="network-name">Another one</span></a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		
		        </div>
		        <!-- /.container -->
		    </div>
	    </div>

	    <div ng-show = "page == 'questions' && !(displayMap) " >
		    <div class="intro-header">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="intro-message">
		                        <h1>{{ questionShowed }}</h1>
		                        <img ng-src="{{currentQuestionImage}}"  style="height: 200px;"/>
		                        <hr class="intro-divider">
		                        <ul class="list-inline intro-social-buttons">
		                            <li>
		                                <a href="" class="btn btn-default btn-lg" ng-click="chooseAnswer(0)">  <span class="network-name">{{ tabReponses[0]}}</span></a>
		                            </li>
		                            <li>
		                                <a href="" class="btn btn-default btn-lg" ng-click="chooseAnswer(1)"> <span class="network-name">{{ tabReponses[1]}}</span></a>
		                            </li>
		                            <li>
		                                <a href="" class="btn btn-default btn-lg" ng-click="chooseAnswer(2)" > <span class="network-name">{{ tabReponses[2]}}</span></a>
		                            </li>
		                            <li>
		                                <a href="" class="btn btn-default btn-lg"  ng-click="chooseAnswer(3)"> <span class="network-name">{{ tabReponses[3]}}</span></a>
		                            </li>
		                        </ul>

		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- /.container -->
		    </div>
	    </div>

	    <div ng-show = "displayMap">
		        <div class="container">
		            <div class="row">
		                <!-- <div class="col-lg-12">
		                    <div class="intro-message">
		                        <h1>{{ questionShowed }}</h1>
		                        <img ng-src="{{currentQuestionImage}}"  style="height: 200px;"/>
		                        <ul class="list-inline intro-social-buttons">
		                            <li>
		                                <a href="" class="btn btn-default btn-lg" ng-click="chooseAnswerMap(map_pick)">  <span class="network-name">{{map_pick}}</span></a>
		                            </li>
		                        </ul>
		                        <div class = "displayMap" ng-show="displayMap">
									<div id="map" style="width:50%; height: 300px;"></div>
								</div>
		                    </div>
		                </div> -->
		                <div class = "intro-header">
		                	<div class = "col-lg-12">
		   						<div class = "intro-message-map">
		                			<h1>{{ questionShowed }}</h1>
		                		</div>
		                	</div>
		                </div>
		            </div>
		            <div class = "row">
		                <div class = "col-lg-4 boutonJoli">
		                	<img ng-src="{{currentQuestionImage}}"  style="height: 200px;"/>
 	                        <ul ng-show = "!(map_pick == null)" class="list-inline intro-social-buttons boutonJoliText">
	                            <li>
	                                <a class="btn btn-default btn-lg" ng-click="chooseAnswerMap(map_pick)">  <span class="network-name">{{map_pick}}</span></a>
	                            </li>
	                        </ul>
		                </div>
		                <div class = "col-lg-offset-1 col-lg-7">
		                	<div id="map" style="width:100%; height: 350px;"></div>
		                </div>
		            </div>
		        </div>
		        <!-- /.container -->
		    <!-- </div> -->
	    </div>

	    <div ng-show = "page == 'finDuJeu' " >
		    <div class="intro-header">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <div class="intro-message">
		                        <h1>Fin du jeu ! Bien joué ! :)</h1>
		                        <h3> Votre résultat est de : {{resultat}} </h3>
		                        <hr class="intro-divider">
		                        <ul class="list-inline intro-social-buttons">
		                       		<li>
		                                <a ng-click = "openPagePlay()" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-expand"></i> <span class="network-name">Play !</span></a>
		                            </li>
		                            <li>
		                                <a ng-click = "addScore()" class="btn btn-default btn-lg"><span class="network-name">Publie ton score!</span></a>
		                            </li>
		                            <li>
		                                <a ng-click = "openPageHighscores()" class="btn btn-default btn-lg"><span class="network-name">Liste des Scores</span></a>
		                            </li>
		                        </ul>		                       
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- /.container -->
		    </div>
	    </div>
    
	    <div ng-show="page == 'highscores'">
	    		<div class="intro-header">
			        <div class="container">
            	        <div class="row">
			          		<div class="col-md-6 col-md-offset-3">
					            <table class="table">
					              <thead>
					                <tr>
					                  <th class = "centerRow">#</th>
					                  <th class = "centerRow">Name</th>
					                  <th class = "centerRow">Score</th>
					                </tr>
					              </thead>
					              <tbody>
					                <tr ng-repeat="score in highscores | orderBy : '-score'">
					                  <td>{{($index+1)}}</td>
					                  <td>{{score.name}}</td>
					                  <td>{{score.score}}</td>
					                </tr>
					              </tbody>
					            </table>
					            <h4 ng-show="highscores == null">Waiting for data...</h4>
					          </div>
		        		</div>
		      		</div>
		        </div>
    	  </div>
 	</body>
	
	<script src= "js/angular.min.js"></script>
	<script src= "js/angular-google-gapi.min.js"></script>
	<script src= "js/angular-cookies.min.js"></script>
	<script src= "js/jquery-3.1.1.min.js"></script>
	<script src = "js/app.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://maps.googleapis.com/maps/api/js?language=en&region=US&key=AIzaSyC0M7KEddpvo0m42rLYEnoXPHBJUiqNasA"></script>

</html>

